@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: gray;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}

#store {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    width: 300px;
    margin: 5px;
  }
}

#view {
  width: 90%;
  margin: auto;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .description {
    white-space: pre-wrap;
  }
}
